h1:hover {
    color: gainsboro;
}
h1 {
    color: black;
}
.header{
    border: 2px solid black;
    display: inline-block;
    font-family: "Libertinus Math";
    font-size: 190%;
    max-width: 90%;
    background: linear-gradient(gray black)
}
footer{
    clear: both;
    position: sticky;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3w;
    max-width:400px;
}
.container img{
    width: 100%;
    height: 200px;
    object-fit: contain;
    display: block;
}