h1:hover {
    color: gainsboro;
}
h1 {
    color: black;
}
.header{
    border: 2px solid black;
    display: inline-block;
    font-family: "Libertinus Math";
    font-size: 190%;
    max-width: 90%;
    background: linear-gradient(gray black)
}
footer{
    clear: both;
    position: sticky;
}